.content{
    position: absolute;
    width: 100%;
    top: 35%;
    min-height: 65%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 250px 250px 250px;
    column-gap: 2%;
    row-gap: 5%;
    justify-content: center;

    .content-section{
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 2px lighten($secondary, 42.5);
        cursor: pointer;
        color: darken($secondary, 22.5);
        font-family: $font;
        padding: 10%;
        box-sizing: border-box;

        .section-header{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 25px;

            i{
                font-size: 2rem;
                color: $primary;
                padding: 0 10px;
            }
            h2{
                font-size: 1.5rem;
            }
        }
        p{
            width: 100%;
            text-align: left;
        }
    }

    .content-section:hover{
        background-color: lighten($primary, 47.5);
        box-shadow: 1px 1px 4px 4px lighten($secondary, 42.5);
    }
}