.main{
    width: 100%;
    font-family: $font;
    overflow-y: scroll;

    .sidebar{
        width: 15%;
        height: 92.5%;
        position: fixed;
        top: 7.5%;
        text-align: left;
        padding: 10px 0;
        border-left: 1px $primary solid;
        overflow-y: scroll;
        color: $secondary;

        section{
            text-align: center;
            padding-top: 25px;
            
            .side-highlighted{
                border-left: 5px lighten($secondary, 30) solid;
                color: $primary;
            }

            h2{
                display: inline-block;
                padding: 0 10px;
            }

            p{
                display: block;
                padding: 10px 10px;
            }
        }

        .break{
            width: 100%;
            height: 50px;
        }
    }

    .main-content{
        position: fixed;
        width: 85%;
        height: 92.5%;
        top: 7.5%;
        right: 0;
        text-align: left;
        color: darken($secondary, 20);
        overflow-y: scroll;

        .project-title{
            margin: 25px 0;
            text-align: center;
        }

        section{
            padding: 0 100px;

            h2{
                padding: 0;
            }

            .main-highlighted{
                color: $primary;
            }

            .section-item{
                
                margin-left: 25px;

                h3{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 1.25em;
                }

                p{
                    margin: 15px 0;
                }

                a{
                    color: $dark;
                    text-decoration: underline;
                }

                .repo{
                    line-height: 1.5em;
                
                    p{
                        margin: 0;
                    }
                }

                .inline-link{
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                    line-height: normal;
                }
            }

            .section-item:last-child{
                margin-bottom: 20px;
            }
        }

        #resources{
            margin-bottom: 90px;
        }

        footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;;
            width: 100%;
            height: 150px;
            border-top: 1px lighten($secondary, 45) solid;
            color: $primary;
            text-align: center;

            .footer-links{
                width: 100%;
                i{
                    color: $primary;
                    font-size: 2rem;
                    padding: 10px;

                }
            }
        }
    }
}