@import 'config.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $light;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
}

.App{
    height: 100vh;
}

a{
    color: $light;
    text-decoration: none;
}

@import 'header.scss';

.main{
    width: 100%;
    height: 92.5%;
    text-align: center;
    color: $dark;
    position: fixed;
    top: 7.5%;
    overflow-y: auto;
    font-family: $font;

    h2{
        padding: 1em 0;
    }

    .navi-links{

        margin-left: 37.5%;
        margin-bottom: 1em;
        width: 25%;
        border: 2px $primary solid;
        border-radius: 10px;

        a{
            display: block;
            padding: 1.25em;
            color: $dark;
        }
        a:hover{
            background: $primary;
        }
    }
}

@media only screen and (max-width: 1023px){
    .main{
        h2{
            font-size: 1.25em;
        }

        .navi-links{
            a{
                font-size: 1em;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
    .main{
        h2{
            font-size: 1.5em;
        }

        .navi-links{
            a{
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (min-width: 1367px) and (max-width: 1919px){
    .main{
        h2{
            font-size: 1.75em;
        }

        .navi-links{
            a{
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (min-width: 1920px){
    .main{
        h2{
            font-size: 2em;
        }

        .navi-links{
            a{
                font-size: 1.6em;
            }
        }
    }
}

@import 'title.scss';
@import 'content.scss';
@import 'main.scss';

// Custom Scrollbar from w3schools.com
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: $primary; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: ligthen($primary, 10); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}