@import 'config.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $light;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
}

.App{
    height: 100vh;
}

a{
    color: $light;
    text-decoration: none;
}

@import 'header.scss';
@import 'title.scss';
@import 'content.scss';
@import 'main.scss';

// Custom Scrollbar from w3schools.com
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: $primary; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: ligthen($primary, 10); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}